/* Main */
body {
    font-family : "Arial";
}
#containerSnap{
    position:absolute;
    margin: 0;
    padding: 0;
    background-color:#d7e1e9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#video {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    background-position:top;
    background-repeat:no-repeat;
}
#containerCam {
    position:absolute;
    height: 40%;
    width: 30%;
    bottom: 0;
    right: 0;
    background-color: #007FFF;
    z-index:1;
    text-align: center;
}
#containerAnnounce {
    position:absolute;
    height: 5%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #0054ff;
    z-index:1;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    padding-top: 2%;
}
.containerChat {
    position:absolute;
    height: 80%;
    width: 80%;
    top: 3%;
    left: 10%;
    overflow: hidden;
    background-color: #ffffff;
    z-index:1;
    text-align: left;
    border-radius: 15px;
}
#formChat {
    position:absolute;
    height: 60px;
    width: 80%;
    top: 87%;
    left: 10%;
    overflow: auto;
    background-color: #cecece;
    z-index:1;
    text-align: left;
    border-radius: 15px;
    resize: none;
}
#containerGames {
    position:absolute;
    height: 15%;
    width: 30%;
    top: 25%;
    left: 2%;
    background-color: rgb(158, 161, 150);
    z-index:1;
    text-align: center;
    border-radius: 15px;
}
#containerGamesGallery {
    position:absolute;
    height: 50%;
    width: 30%;
    top: 15%;
    left: 35%;
    background-color: #d7e1e9;
    z-index:1;
    text-align: center;
    border-radius: 15px;
}
#containerHighScoreDemineur {
    position:absolute;
    height: 10%;
    width: 30%;
    top: 15%;
    right: 2%;
    background-color: whitesmoke;
    z-index:1;
    text-align: left;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}
#containerHighScoreCodenames {
    position:absolute;
    height: 10%;
    width: 30%;
    top: 28%;
    right: 2%;
    background-color: whitesmoke;
    z-index:1;
    text-align: left;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}
#containerHighScoreWindBird {
    position:absolute;
    height: 10%;
    width: 30%;
    top: 41%;
    right: 2%;
    background-color: whitesmoke;
    z-index:1;
    text-align: left;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}
#left {
    position:absolute;
    height: 100%;
    width: 20%;
    top: 0%;
    left: 0%;
    background-color: #d7e1e9;
    z-index:1;
    text-align: center;
    border-radius: 15px;
}
#right {
    position:absolute;
    height: 100%;
    width: 80%;
    top: 0%;
    left: 20%;
    background-color: #d7e1e9;
    z-index:1;
    text-align: center;
    border-radius: 15px;
}


/* GAMES */

.gameBackground {
    background-color: #F1F1F1;
}

#containerAnnounce {
    position:absolute;
    height: 5%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #0054ff;
    z-index:1;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    padding-top: 2%;
}
#containerChat {
    position:absolute;
    height: 100%;
    width: 25%;
    top: 0;
    left: 0;
    background-color: #FFF;
    z-index:1;
}
#imageVideoChat {
    position: absolute;
    left: 4.5%;
    top: 15%;
    z-index:1;
    max-width: 90%;
    height: auto;
    border-radius: 5px;
}
#containerGame {
    position:absolute;
    height: 100%;
    width: 100%;
    right: 0;
    background-color: #2dd160;
    text-align: center;
}
#containerGameScreen {
    position:absolute;
    height: 45%;
    width: 94%;
    top: 14%;
    right: 3%;
    background-color: #F1F1F1;
    z-index:1;
}
#containerGameInfo {
    position:absolute;
    height: 15%;
    width: 36%;
    bottom: 20%;
    right: 36%;
    background-color: white;
    z-index:1;
    text-align: center;
    border-radius: 15px;
}
#containerCam {
    position:absolute;
    height: 30%;
    width: 30%;
    bottom: 5%;
    right: 3%;
    background-color: #007FFF;
    z-index:1;
    text-align: center;
    border-radius: 15px;
}
