<div class="containerChat">
</div>

<div>
    <textarea id="formChat" rows="4" placeholder="Enter Message"></textarea>
</div>

<script type="text/javascript">
  var socket = io.connect('http://' + document.domain + ':' + location.port);
  socket.on('connect', function () {
    socket.emit('my event', {
      data: 'User Connected'
    })
    var form = $('form').on('submit', function (e) {
      e.preventDefault()
      let user_name = $('input.username').val()
      let user_input = $('input.message').val()
      socket.emit('my event', {
        user_name: user_name,
        message: user_input
      })
      $('input.message').val('').focus()
    })
  })
  socket.on('my response', function (msg) {
    console.log(msg)
    $('#formChat').keypress(
      function(e){
        if(e.keyCode==13){
          var msg=$(this).val();
          $('div.containerChat').append('<div><b style="color: #000">' + "XXXXXXXX" + '</b> ' + msg + '</div>')
          $('#formChat').val("")
        }
    });
  })
</script>
