<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script type="text/javascript" src="/files/jquery_extend_api.js"></script>
    <script type="text/javascript" src="/files/config.js"></script>
    <script type="text/javascript" src="/files/login.js"></script>
    <script type="text/javascript" src="/files/mine_sweeper.js"></script>
    <link rel="stylesheet" type="text/css" href="/files/animation.css">
    <link rel="stylesheet" type="text/css" href="/files/mine_sweeper.css">
</head>

<body>
    <!--
Ask the user the size of the grid and the number of bomb
Print a Size by Size grid and return the position on click
-->

    <body>
        <div>
            <div id="game_config" class="half_container">
                <form action="PayslipServlet" method="get">
                    <p>
                        Width: <input type="number" name="width" id="width" value=20 min="10" max="30">
                    </p>
                    <p>
                        Height: <input type="number" name="height" id="height" value=30 min="10" max="50">
                    </p>
                    <p>
                        Number of mines: <input type="number" name="nb_bomb" id="nb_bomb" min="1" value="10" max="100">
                    </p>
                    <input type="button" value="Start !" id="GO">
                </form>
            </div>
            <div id="game_waiting" style="display:none">
                <button id="user_ready">Let's GO</button>
                <div id="countdown"></div>
            </div>
            <div id="game_board"  style="display:none">
                <div id="user_board" style="flex:3;position:relative" class="half_container"></div>
                <div id="opponent_board" style="flex:1;position:relative" class="half_container"></div>
            </div>
        </div>
    </body>
</body>

</html>