{% extends "games.html"%}

{% block gamebody %}
    <div class="gameBackground">
        <form id="game_config" action="PayslipServlet" method="get">
            Size (between 10 and 40): <input type="number" name="size" id="size" min="10" max="40"><br /> Nb_Bomb (between 1 and 40): <input type="number" name="nb_bomb" id="nb_bomb" min="1" max="40"><br />
            <span id="result"></span><br />
            <input type="button" value="Start !" id="GO">
        </form>
        <div id="game_waiting" style="display:none">
            <button id="user_ready">Let's GO</button>
            <div id="countdown"></div>
        </div>
        <div id="game_board"  style="display:none">
            <div id="user_board" class="half_container"></div>
            <div id="opponent_board" class="half_container"></div>
        </div>
    </div>
{% endblock %}