{% extends "index.html"%}

{% block head %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script type="text/javascript" src="/files/config.js"></script>
    <script type="text/javascript" src="/files/login.js"></script>
    <script type="text/javascript" src="/files/mine_sweeper.js"></script>
    <link rel="stylesheet" type="text/css" href="/files/animation.css">
    <link rel="stylesheet" type="text/css" href="/files/mine_sweeper.css">

{% endblock %}

{% block body %}
<div id="containerGame">

</div>
<div id="containerCam">
    TO DO
</div>
<script>
    var time_today = Date.now();
    var date_today = new Date(27043200*1000);

    var month = date_today.getMonth()+1;
    var day = date_today.getDate();

    $.getJSON('https://trombi.corp.netatmo.com/api/persons', function(data){
        persons = JSON.parse(data);

        var birthdays = [];
        for (const p of persons) {
            date_birthday = new Date(p.birthday*1000);
            if (date_birthday.getMonth()+1 == month && date_birthday.getDate() == day){
                    birthdays.push(p);
                }
        }
        if (birthdays.length==0)
        {
            $('#containerAnnounce').text("Bienvenu sur Boulynk !");
        }
        else
        {
            $('#containerAnnounce').append("Aujourd'hui c'est l'anniversaire de : ");
            for (const p of birthdays) {
                $('#containerAnnounce').append(p.name+" ");
            }
            $('#containerAnnounce').append("!");
        }

    });
</script>
<div id="containerAnnounce">
</div>
<div id="containerGameScreen">
        {% block gamebody %}{% endblock %}
</div>
<div id="containerGameInfo">
</div>
{% endblock %}