{% extends "index.html"%}

{% block head %}

    <script type="text/javascript" src="/files/login.js"></script>
    <script type="text/javascript" src="/files/mine_sweeper.js"></script>
    <link rel="stylesheet" type="text/css" href="/files/animation.css">
    <link rel="stylesheet" type="text/css" href="/files/mine_sweeper.css">

{% endblock %}

{% block body %}
<div id="containerGame">

</div>
<div id="containerCam">
    <img src="/static/images/superphoto.jpg" />
</div>
<script>
    var time_today = Date.now();
    var date_today = new Date(27043200*1000);

    var month = date_today.getMonth()+1;
    var day = date_today.getDate();

    $.getJSON('https://trombi.corp.netatmo.com/api/persons', function(data){
        persons = JSON.parse(data);

        var birthdays = [];
        for (const p of persons) {
            date_birthday = new Date(p.birthday*1000);
            if (date_birthday.getMonth()+1 == month && date_birthday.getDate() == day){
                    birthdays.push(p);
                }
        }
        if (birthdays.length==0)
        {
            $('#containerAnnounce').text("Bienvenue sur Boulynk !");
        }
        else
        {
            $('#containerAnnounce').append("Aujourd'hui c'est l'anniversaire de : ");
            for (const p of birthdays) {
                $('#containerAnnounce').append(p.name+" ");
            }
            $('#containerAnnounce').append("!");
        }

    });
</script>
        <div id="containerAnnounce">
        </div>
        <div id="containerGameScreen">
            {% block gamebody %} {% endblock %}
        </div>
        <div id="containerGameInfo">
            <img id="imageScore" src="/static/images/score-mine-2.png" alt="" />
        </div>
        <div id="containerRestartButton">
            <img id="imageRestart" src="/static/images/restart.png" alt="" /> Restart
        </div>
        <div id="containerGamesButton">
            <a href="/store"><img id="imageBack" src="/static/images/back.png" alt="" /> Back to games</a>
        </div>
{% endblock %}