#game_board {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 700px;
}

#win_screen {
    animation: 1.8s ease 0s 1 normal both running jello-horizontal;
    transform: translate3d(0, 0, 0);
}

#lose_screen {
    animation: 1.8s ease 0s 1 normal both running wobble-ver-right;
    transform: translate3d(0, 0, 0);
}

#final_screen {
    position: absolute;
    top: 0;
}

#final_screen img {
    max-height: 700px;
    min-height: 700px;
}

.mine_field {
    top: 0;
    position: absolute;
}

.mine_row {
    display: flex;
    flex-direction: row;
    height: 30px;
    padding: 0;
    margin: 0;
    line-height: 30px;
}

.mine {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    text-align: center;
    cursor: pointer;
}

.mine.odd {
    background-color: #efe6e1;
}

.mine.odd {
    background-color: #e1d5c6;
}

.mine_-2 {
    background-color: lightgrey;
    color: lightgrey;
}

.mine_0.odd.mine {
    background-color: #28b862;
}

.mine_0.even.mine {
    background-color: #2dd160;
}

.mine_-1 {
    background-color: black;
    color: red;
}

.mine_0.odd {
    background-color: #efe6e1;
}

.mine_1 {
    background-color: lightgrey;
    color: #0054ff;
}

.mine_2 {
    background-color: lightgrey;
    color: #ff8500;
}

.mine_3 {
    background-color: lightgrey;
    color: #ff4c40;
}

.mine_4 {
    background-color: grey;
    color: #ff4c40;
}

.mine_5 {
    background-color: grey;
    color: #ff4c40;
}