{% extends "index.html"%}
{% block head %}
{% endblock %}

{% block body %}
<div id="containerSnap">
    Image Lyon
</div>

<div id="containerAnnounce">

</div>

<div id="containerGames">

    <a href="/" >
        <img src="/static/images/chat_header.png" width="100%" height = "100%" display="block">

    </a>

</div>

<div id="containerGamesGallery">
        <b><font size="+2">Games</font></b>
        <br />
        <br />
            <div>
                <a href="/games/demineur" >
                <img src="/static/images/mine.png" width=120 height="120" >
                </a>
                <p>Minesweeper</p>
            </div>

            <div>
                <img src="/static/images/codename.png"  width=120 height="120">
                <p>Code Names</p>
                </a>
            </div>

            <div>
                    <img src="/static/images/flappy.png"  width=120 height="120">
                    <p>Wind Bird</p>
            </div>
</div>


<div id="containerHighScoreDemineur">
        <b><font size="+1">Best score - Minesweeper</font></b>
        <br />
        <br />
        <img src="/static/images/score.png" width=30 height="30" align ="left" hspace =10> <span style="float: left;">Sir Guilhem 1</span>  <b><font color="blue"><span style="float:right;">3456</span></font></b>
</div>

<div id="containerHighScoreCodenames">
        <b><font size="+1">Best performance - Code Names</font></b>
        <br />
        <br />
        <img src="/static/images/find.png" width=30 height="30" align ="left" hspace =10> <span style="float: left;"></span>Guessed words</span> <b><font color="blue"><span style="float:right;">150</span></font></b>
</div>

<div id="containerHighScoreWindBird">
        <b><font size="+1">Best performance - Wind Bird</font></b>
        <br />
        <br />
        <img src="/static/images/score.png" width=30 height="30" align ="left" hspace =10> <span style="float: left;"></span>Chloédouard</span> <b><font color="blue"><span style="float:right;">6</span></font></b>
</div>

</div>

<div id="containerCam">
    <video autoplay="true" id="video"></video>
</div>

<script>
    var video = document.querySelector("#video");
    if (navigator.mediaDevices.getUserMedia) {
    navigator.mediaDevices.getUserMedia({ video: true })
    .then(function (stream) {
    video.srcObject = stream;
    })
    .catch(function (err0r) {
    console.log("Something went wrong!");
    });
    }
</script>
<script>
    var time_today = Date.now();
    var date_today = new Date(27043200*1000);

    var month = date_today.getMonth()+1;
    var day = date_today.getDate();

    $.getJSON('https://trombi.corp.netatmo.com//api/persons', function(data){
        persons = JSON.parse(data);

        var birthdays = [];
        for (const p of persons) {
            date_birthday = new Date(p.birthday*1000);
            if (date_birthday.getMonth()+1 == month && date_birthday.getDate() == day){
                birthdays.push(p);
            }
        }
        if (birthdays.length==0)
        {
            $('#containerAnnounce').text("Bienvenu sur Boulynk !");
        }
        else
        {
            $('#containerAnnounce').append("Aujourd'hui c'est l'anniversaire de : ");
            for (const p of birthdays) {
                $('#containerAnnounce').append(p.name+" ");
            }
            $('#containerAnnounce').append("!");
        }

    });
</script>
{% endblock %}


