<html>
<head>
    <link rel="stylesheet" href="/files/store.css">
</head>



<body>

JEUX 

<div id="game-gallery">
    <div class="game"> 
        <input type="image" id="image" alt=""
            src="/files/resources/Demineur.png"
            width="100"
            height="100">
        <p>Démineur</p>
    </div>

    <div class="game">
        <input type="image" id="image" alt=""
            src="/files/resources/codenames.jpg"
            width="100"
            height="100">
        <p>Code Names</p>
    </div>


</div>



</body>
</html>